.prevision-card {
    background-color: rgba(132, 164, 192, 0.5);
    border-radius: 10px;
    text-align: center;
    width: 15%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    line-height: 2rem;
}

.prevision-card img {
    width: 40%;
    padding: 1rem;
}