body {
    background-size: cover;  /* L'image de fond couvre toute la page */
    background-position: center;  /* L'image est centrée */
    background-repeat: no-repeat; /* L'image ne se répète pas */
}

.vide-1,.vide-2{
    background-color: #2783A0;
}

.date-time{
    display: flex;
    flex-direction: column; /* Organise les éléments en colonne */
    justify-content: center; /* Centre le contenu verticalement */
    align-items: center; /* Centre le contenu horizontalement */
    height: 100%; /* Assure que l'élément prend toute la hauteur de son parent */
    gap: 1rem;  /*marge entre tout les elements*/
}

.jour {
    font-weight: bold; /* Mettre en gras le jour */
    font-size: 1.6em; /* Taille de la police pour le jour */
  }

.jour-nuit{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: auto; /* Assure que l'élément prend toute la hauteur de son parent */
}  

.temperature{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: auto; 
    //background-color: rgba(250, 250, 250, 0.4);
}

.temperature img {
    width: 50%;
    padding: 2rem;
}

.vent{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    text-align: center;  /* Centrer le texte dans le conteneur */
    height: auto; 
    width: 100%;
}

#compass-container {
    position: relative;
    width: 100%; /* Largeur du fond de la boussole */
    height: 12.5rem; /* Hauteur du fond de la boussole */
}

#compass-background {
    width: 40%;
    height: 12.5rem;
}

#compass-needle {
    position: absolute;
    top: 50%;  /* Centrer l'aiguille */
    left: 50%; /* Centrer l'aiguille */
    transform-origin: 50% 50%; /* Centre l'aiguille pour qu'elle tourne autour de son centre */
    transform: translate(-50%, -50%); /* Centrer l'aiguille */
    width: 4%; /* Largeur de l'aiguille (ajuste la taille selon ton image) */
    height: 6.25rem; /* Hauteur de l'aiguille (ajuste la taille selon ton image) */
}

#previsionSemaine{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}

@media(max-width:767px){
    #previsionSemaine{
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        gap: 0.5rem;
    }
}
